body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
	text-shadow: 3px 3px black;
}

.nav-btn{
	color:darkslategray;
}

.nav-btn:hover{
	background:ivory;
	color:#2ec8a6;
}

.afooter{
	text-align: center;
    padding-top: 15px;
    color: #fff;	
}

.dropdown{
	margin: 0px;
}

.dropdown ul{
	padding: 10px;
	margin: 0px;
	list-style: none;
}

.dropdown ul li{
	text-align: left;
	margin: 4px;
}

.dropdown ul li a{
	color: #000;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.dropdown ul li ul{
	display: none;
}

.dropdown ul li:hover ul{
	display: block;
	padding-left: 50px;
}

h1.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
	text-align: center;
}

h1.title span {
    color: #2ec8a6;
}

h1.menutitle {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

h1.menutitle span {
    color: #2ec8a6;
}

.btn{
	background: #000;
	color: #fff;
}

.btn:hover{
	background: #2ec8a6;
	color: #fff;
}